<p><%= t('devise.mailer.reset_password_instructions.greeting', name: @resource.name) %></p>

<p><%= t('devise.mailer.reset_password_instructions.intro') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), 
               frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.ignore_warning') %></p>
<p><%= t('devise.mailer.reset_password_instructions.password_wont_change') %></p>
